<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>home</h1>
    <ul>
      <li><a href="/login">로그인</a></li>
      <br />
      <li><a href="/join">회원가입</a></li>
    </ul>
    <img
      src="https://cut4u.s3.ap-northeast-2.amazonaws.com/image/cda5c606-a807-49ca-9f67-a22c587c4b47-KakaoTalk_Image_2023-07-07-18-32-59.png"
      alt="profile-img"
    />
  </body>
</html>
