<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>home</h1>
    <ul>
      <li><a href="/login">로그인</a></li>
      <br />
      <li><a href="/join">회원가입</a></li>
    </ul>
    <img
      src="https://cut4u.s3.ap-northeast-2.amazonaws.com/image/1a493b5a-a81a-4a7a-bb5f-5ed66d15adf3-661c8e5e-e471-473d-9d1c-7aac7715ca79-KakaoTalk_Image_2023-07-07-18-32-59.png"
      alt="profile-img"
    />
  </body>
</html>
